.creditCardImage { 
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.expenses { 
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    
}

.addPurchaseButton {
    position: fixed;
    bottom: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    box-shadow: 0px -1px 8px 0px rgba(163, 163,163,1);
}

.purchases { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
}

.purchaseDate { 
    display: flex;
    align-items: center;
    margin-left: -2rem;
    width: 5rem;
}

.price { 
    display: flex;
    width: 5rem; 
    justify-content: center;
    color: #EB5757;
    font-weight: bold;
}
.storeTitle { 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    flex-wrap: nowrap;
}

.storeSubTitle { 
    font-size: 15px;
    color: grey;
    margin: 0;
}

.storeName { 
    display: flex;
    flex-direction: column;
    width: 10rem;
    flex-wrap: wrap;
    align-items: center;
}

.expenseIcons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -2rem;
    width: 5rem;
}

.buttonColumn { 
    display: flex;
    flex-direction: row;
}

.iconBackgroundStyling { 
        border: none;
        background-color: white;
        margin-top: .4rem;
}
.purchaseForm { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}
.uploadImage { 
    display: flex;
    justify-content: center;
    margin-left: -4.5rem;
    margin-top: -5rem;
}
.uploadImageCC {
    display: flex;
    justify-content: center;
    margin-left: -4.5rem;
    margin-top: -5rem;
}

.imgCC { 
    display: flex;
    justify-content: center;
    margin-left: -10rem;
    margin-bottom: 2rem;
}

.checkbox { 
    display: flex;
    flex-direction: row;
}

.purchaseReceiptImage { 
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.expenseSearch { 
    display: flex;
    position: fixed;
}

.CCChart {
    width: 100%;
    margin: 1px auto;
}

.chartTitle { 
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 4rem;
}