.welcomeTitle { 
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
}

.upcomingShows { 
    display: flex;
    justify-content: center;
    letter-spacing: 6px;
}

.addShowButton {
    position: fixed;
    bottom: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    box-shadow: 0px -1px 8px 0px rgba(163, 163,163,1);
}

.deleteShowButton { 
    border: none;
    background-color: white;

}

.shows { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
}

.showDate {
    display: flex;
    align-items: center;
    width: 5rem;
}

.showLocation {
    display: flex;
    flex-direction: column;
    width: 13rem;
    flex-wrap: wrap;
    align-items: center;
}

.showIcons {
    display: flex;
    justify-content: right;
}

.showForm { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;

}

.saveShowButton { 
    display: flex;
    justify-content: center;
}

.venueTitle { 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    flex-wrap: nowrap;
}

.venueSubTitle { 
    font-size: 15px;
    color: grey;
    margin: 0;
}