.navbar__link { 
    color:white;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #EB5757;
    margin: 0;
    padding: 12px 0px;
}

.navbar__item {
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    color: black;
}