.navbar__link { 
    color:white;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: red;
    margin: 0;
    padding-top: 0px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: black;
}